$media-min: 320px;
$media-max: 800px;

@font-face {
  font-family: "IM";
  src: url("../fonts/Nitti-Normal.woff2") format("woff2"),
    url("../fonts/Nitti-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;

  --global-margin: 2rem;
  --global-color: black;
  --font-size: 2.3rem;
  --font-family: "IM", system-ui, Avenir, Helvetica, Arial, sans-serif;

  @media (min-width: $media-min) and (max-width: $media-max) {
    --font-size: 2rem;
  }

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  color: var(--global-color);
  font-size: var(--font-size);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--global-margin);
  letter-spacing: -1.5px;
  line-height: 0.9;
  
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: var(--global-color);
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-between;

  @media (min-width: $media-min) and (max-width: $media-max) {
    display: block;
  }

  #footer-left {
    max-width: 42rem;
    display: grid;
    gap: var(--global-margin);

    @media (min-width: $media-min) and (max-width: $media-max) {
      max-width: 100vw;
    }

    #input-container {
      display: flex;
      height: 5.6rem;

      @media (min-width: $media-min) and (max-width: $media-max) {
        display: block;
        height: 11.2rem;
      }

      input,
      button {
        padding: 0;
        margin: 0;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size: calc(var(--font-size) / 1.3);
        font-family: var(--font-family);
        text-transform: uppercase;
      }

      input {
        border: 1px solid rgb(0, 0, 0);
        background-color: transparent;
        width: 65%;
        text-align: center;
        @media (min-width: $media-min) and (max-width: $media-max) {
          width: 100%;
          height: 50%;
        }
      }

      button {
        width: 35%;
        border: none;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        color: white;
        mix-blend-mode: multiply;
        @media (min-width: $media-min) and (max-width: $media-max) {
          width: 100%;
          height: 50%;
        }
      }
    }
  }

  #footer-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-transform: lowercase;
    font-size: calc(var(--font-size) / 1.3);
    @media (min-width: $media-min) and (max-width: $media-max) {
      margin-top: var(--global-margin);
    }
  }
}
